@media (max-width: 2800px) {
    .meals {
        max-width: 90%;
        width: 90%;
        margin: 2rem auto;
        animation: meals-appear 1s ease-out forwards;

        ul {
            display: flex;
            flex-direction: column;

            >div {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        ul>h3 {
            font-family: cursive;
            margin-left: 1rem;
            font-size: 2rem;
            color: white;
        }
    }

    @keyframes meals-appear {
        from {
            opacity: 0;
            transform: translateY(3rem);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}