@media (max-width: 1536px) {
    .input {
        display: flex;
        align-items: center;
        margin-bottom: 0.2rem;
    }

    .input label {
        font-weight: bold;
        margin-right: 1rem;
    }

    .input input {
        width: 3rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        font: inherit;
        background-color: #ffffff61;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.363);
        text-align: center;
        font-weight: 600;
        padding: 0.02rem 0;
    }
}

@media (max-width: 930px) {
    .input label {
        font-size: 0.8rem;
    }
    .input input {
        width: 2.4rem;
        font-size: 0.9rem;
    }
}